@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	color: #eee8f6;
}
body{
    background-color: #adbada;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: #3d52a1;
}
.navbar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-style: italic;
}
.navbar nav ul li{
    margin-left: 20px;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #eee8f6;
    font-size: 1em;
    position: relative;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #7191e6;
    transition: background-color 0.3s, color 0.3s;
}
.navbar nav ul li a:hover{
    color: #3d52a1;
}
#home{
    color: #3d52a1;
    font-weight: 700;
}
.text{
	background: #adbada;
	text-align: center;
	display: grid;
	place-items: center;
	height: 80vh;
	position: relative;
	z-index: 9998;
}
.text-content h1{
	font-size: 80px;
	text-transform: uppercase;
	color: #3d52a1;
}
.text-content p{
    font-size: 800;
	width: 75%;
	margin: auto;
	line-height: 1.9;
	color: #000000;
}
.footer{
    background-color: #3d52a1;
    color: #eee8f6;
    padding: 5px 5px;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section{
    flex: 1;
    padding: 5px;
    color: #eee8f6;
}
.footer-section p{
    font-size: 1.1em;
    margin-bottom: 10px;
}