@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	color: #fff;
}
body{
    background-color: #adbada;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: #3d52a1;
}
.navbar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-style: italic;
}
.navbar nav ul li{
    margin-left: 20px;
}
.navbar nav ul li a{
    text-decoration: none;
    color: #eee8f6;
    font-size: 1em;
    position: relative;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #7191e6;
    transition: background-color 0.3s, color 0.3s;
}
.navbar nav ul li a:hover{
    color: #3d52a1;
}
#contacts{
    color: #3d52a1;
    font-weight: 700;
}
.contact{
    display: flex;
    padding: 80px 0;
    color: #eee8f6;
    justify-content: center;
    padding-left: 100px;
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.socials-box{
    background-color: rgb(61, 82, 161, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
}
.contact-box{
    background-color: rgb(61, 82, 161, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 20px;
}
.socials{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.socials i{
    color: #eee8f6;
    font-size: 54px;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.socials i:hover{
    color: #7191e6;
}
.heading{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}
.contact-box form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.contact-box input{
    width: 90%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #eee8f6;
}
.contact-box textarea{
    width: 90%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.contact-box textarea{
    resize: vertical;
    background-color: #eee8f6;
}
.contact-box button{
    background-color: #7191e6;
    color: #000000;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-box button:hover{
    background-color: #eee8f6;
    color: #202a30;
}
.footer{
    background-color: #3d52a1;
    color: #ffffff;
    padding: 5px 5px;
    text-align: center;
    height: 50px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section p{
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #eee8f6;
}